doctype html
html(lang='pt-br')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // The above 3 meta tags must come first in the head; any other head content must come after these tags 
    meta(name='author', content='Frota Silveira')
    meta(name='description', content='Chat')
    meta(name='keywords', content='Node, Node.js, Chat, Express, Passport')
    title #{title} · Chat
    link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/manifest.json")
    // Bootstrap core CSS 
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/bootstrap/css/bootstrap-theme.min.css', rel='stylesheet')
    // Custom styles for this template 
    link(rel='stylesheet', href='/css/style.css')
  body
    .container-fluid
      .singin-form
        a.text-center(href='/', style='display: block; width: 48px;height: 48px;margin: 0 auto;color: #333;')
          img(src='/img/logo/chat-60.png', alt='Chat', height='48', width='48')
        h2.text-center.signin-title Reset your password
        if (message.length > 0)
          .alert.alert-danger
            span.glyphicon.glyphicon-info-sign
            |  #{message}
            a.close(data-dismiss='alert', aria-label='Close alert') &times;
        // Password reset form 
        form.well(action='/password_reset', method='post')
          //- username
          .form-group
            label(for='email_field') Enter your email address and we will send you a link to reset your password.
            input#email_field.form-control(type='email', name='email', value='#{email}', placeholder='Enter your email address', tabindex='1', required)
            if (user.length > 0)
              p.text-muted(style='font-size: 12px;') You are logged in as #{user}.
          hr
          button.btn-block.btn.btn-success.btn-lg(type='submit', tabindex='2') Send password reset email
        .singin-footer(role='contentinfo')
          ul.singin-footer-links
            li
              a(href='/') Home
            li ·
            li
              a(href='/about') About
            li ·
            li
              a(href='/contact') Contact
    // Bootstrap core JavaScript 
    // ========================================================== 
    // Placed at the end of the document so the pages load faster 
    script(src='/js/libs/jquery-1.12.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
